[2015-08-24 17:42] mbarlock opened #1 "Make icons easier to consume with a dist folder"
Or something similar. In its current state the svgs aren't the easiest to consume. It would be great to have some kind of dist that put the svgs into a single folder (hopefully) and already minified. We could create various sprite sheets/icon fonts of all the icons to be easily consumable as well. Would you take a PR for this?

[2015-08-24 18:16] Snugug commented on #1
IMO these should be treated as source files and have a build process actually pull in and turn them in to production items (minify/sprite sheet/etc). Especially true for icon fonts, where you absolutely don't want to use every icon in a font in production. Then there is the problem of using different sized icons for different needs that need to be taken in to account.

[2015-08-24 18:21] barlock commented on #1
Sure, we could have a build process check the dist back into another branch other than master that we use to deploy to bower/npm (or another project whichever). We can probably intelligently architect the way the dist should look. I'm all for performance but "forcing" every project to write their own build scripts for the icon set seems a little much. Having the build code in the project would mak

[2015-09-15 11:58] tkrugg opened #3 "Inconsistencies in SVG markup"
SVGs unconsistently have background-icon-guides layers `<g>` or nothing.

See for example:
- https://raw.githubusercontent.com/IBM-Design/icons/master/svg/object-based/activity_128.svg
- https://raw.githubusercontent.com/IBM-Design/icons/master/svg/glyphs/chat_24.svg

[2015-09-15 12:03] tkrugg commented on #1
We've solved this problem with a requirejs plugin.

[2015-10-13 20:57] mbarlock opened #6 "Please roll a release with updated icons"
I think its about time for a 2.0.0 with all the renames

[2015-11-04 16:51] jhnsnc opened #7 "Remove Unneeded Files"
There are a number of files that aren't related to the purpose of the repo checked into the repo (e.g. system files etc).

Examples:

- https://github.com/IBM-Design/icons/blob/master/png/.DS_Store
- https://github.com/IBM-Design/icons/blob/master/png/glyphs/.DS_Store
- https://github.com/IBM-Design/icons/blob/master/svg/action-based/access-password-key_32.textClipping
- https://github.com/IBM-Des

[2015-11-05 05:21] hchughes opened #8 "IBM Design Language Glyphs"
The PNG files I've uploaded need to be added to the IBM Design Language library. I will also create a separate issue to add the SVG's and replace the .AI files shortly. The glyph section should also now be broken out by three separate sections of action, formatting and object based glyphs, just like the icons.

![administrator_16](https://cloud.githubusercontent.com/assets/12035896/10960485/81639a

[2015-11-05 16:22] jhnsnc commented on #3
Inconsistencies and other issues I've noticed:
- sporadic line breaks in path data
- graphics groups that are completely hidden (and therefore completely wasted filesize)
- unnecessary attributes on tags
- unnecessary nesting of graphic groups
- groups containing only one path
- duplicated path elements (e.g. 2 <polygon>s in the same file both with the same path data)

I'm working on a cleanup PR

[2015-11-06 02:24] barlock commented on #1
Would you be open to generating a dist as a deploy step to npm/bower? Should be easily automate-able  via travis on a release trigger.

[2015-11-10 22:23] mbarlock opened #12 "svg icons with circles (wrapped or solid) seem blurry on retina displays"
This is strange because svgs are supposed to fix this problem.

I think its because the circles around the icons are made with a <path> element instead of a <circle> which they should be so the browser can figure out the most optimal way to layout the pixels rather than specifying them exactly

https://github.com/IBM-Design/icons/blob/master/svg/action-based/add-new_32.svg?short_path=5b81d52#L8 Ad

[2015-11-10 22:23] barlock commented on #12
I think these icons also suffer from sub-pixel problems. github released [a great article](https://github.com/blog/1135-the-making-of-octicons#sub-pixels) on the development of the Octicons that discusses this.

[2015-11-13 09:45] tkrugg opened #13 "down-to-bottom.svg isn't conforming to naming convention"
All svg icons with viewbox 32x32 seem to end with _32.svg except for this one:
https://github.com/IBM-Design/icons/blob/master/svg/action-based/down-to-bottom.svg

[2015-11-14 15:36] #7 closed

[2015-11-14 20:55] tkrugg commented on #1
@Snugug if AMD is already part of your workflow, you might want to have a look at our solution to the problem: https://github.com/ibm-js/requirejs-dplugins/blob/master/docs/svg.md

[2015-11-15 00:13] barlock commented on #1
I've realized that the only real source file are the illustrator files. The rest are generated and we should present the project as such. We can't guarantee at any new version of the icon that any previous change made to the svg will be there.

I think it makes the most sense to put all the svg s and png into a dist folder and automate the export from illustrator with any repeatable transformation

[2015-11-16 14:58] barlock commented on #1
@mil How do you feel about the proposed layout for `2.0.0`? I'll submit a pr with it those changes laid out in a bit.

[2015-11-16 15:10] mbarlock opened #14 "Deploy automatically on release"
There should be a [deploy hook on a release](http://docs.travis-ci.com/user/deployment/releases/) to publish to bower and npm.

[2015-11-16 15:24] mil commented on #1
@mbarlock:
Automating the svg/png export and additionally adding in the new glyphs for a 2.0.0 seems in-line. Also I agree that our build scripts being part of the repo as being the way forward.

[2015-11-16 15:56] barlock commented on #1
The big change that I was thinking about was a folder structure change

[code]

I want to create this distinction so its obvious people know that the svgs and pngs are generated and updating them without a gulp script wont fly.

[2015-11-16 18:58] mbarlock opened #16 "Create a script to automatically extract svgs/pngs from .ai files"
Theres an [example here](https://github.com/iconic/illustrator-svg-exporter). We'd need to update our illustrator file's art boards to use it which wouldn't be terrible. Or we need to create a new script to do it for us.

[2015-11-16 18:59] barlock commented on #1
@mil I made a pr to show the document structure I'm proposing. Merge if you like it.

[2015-11-17 18:56] mbarlock opened #18 "Svgs/Glyphs should have separate art boards"
The .ai files currently have icons and glyphs on the same art board. They should be split apart onto their own artboards so they can be easily exported

This enables auto exporting from a script #16

[2015-11-17 18:58] barlock commented on #18
New glyph files for 2.0.0 release are here https://github.com/mbarlock/icons/tree/new-glyphs/ai

[2015-11-17 23:36] poofichu commented on #18
Why 5 different sizes?  I'm seeing 2 different sizes for glyphs 16x16 and 24x24, then 3 more sizes 32x32 / 64x64 / 128x128.  I do see different weights and little elements changed here and there, but I'm wondering how necessary and vital is this?  Loading in 5 different versions of 1 icon can get load heavy and pretty daunting with performance.  @hchughes @mbarlock thoughts?

![image](https://clou

[2015-11-17 23:49] barlock commented on #18
5 icon sizes is a lot to deal with and I don't know how much value it adds. Since all of these icons are vectors, It seems to me that we don't need this many sizes.

For the time being though I think we should create essentially (3 types x 5 sizes) 15 different ai files (like object-based-32.ai etc) and evaluate the usefulness of the many sizes a bit in the future. Right now it could lead to perfo

[2015-11-18 00:00] poofichu opened #19 "Padding on Icons"
There are a few areas where padding is a little confusing or not stated correctly.  I see the section on the [https://github.com/IBM-Design/icons](readme) about padding, but what is small, medium or large?  Is this for illustrator file versions or coded versions?

Maybe have visual examples of these instead?  OR is that paragraph meant just for people who are contributing?

Here's what I've deduce

[2015-11-18 00:04] Moodycomputer commented on #19
I definitely think that the padding of icons should be part of the creation process, not usage. There's not an engineer in my org who would recognize the differences in padding here, let alone care enough to implement it.

[2015-11-18 00:07] Moodycomputer commented on #18
Should we recommend one or two of those sizes as the default? Sort of the "Because you're only going to use one of these, use this one" option?

[2015-11-18 00:15] barlock commented on #18
@hchughes I totally agree with @poofichu about the vast number of sizes. Sense all of these icons are vector based, they basically scale infinitely. There seem to be stroke weight differences but I don't think the overhead of maintaining so many sizes adds value.

What would be better in my mind would be at most three sizes. Small ( generally used around 16-24 px, the glyphs), medium (32px, these

[2015-11-18 00:16] Moodycomputer opened #20 "SVGs should be packaged with no fill color"
Icons in the .AI files right now have a black fill. when an SVG is exported with from these, they get stuck with a `fill="#000000"` attribute. This makes it impossible to style the colors of these icons through CSS on the web.

If the fill of the icons was switched over to registration, the fill attribute goes away and colors can be controlled through CSS.

[2015-11-18 00:17] barlock commented on #18
To answer @terracomma, yes I think we should have three, functionally built at 24, 32, and 64. I'm flip-flopping on 24 vs 16px but the previous comment explains my reasoning

[2015-11-18 00:21] terracomma opened #21 "Icons should be made with compound paths"
Turning an icon in to a compound path affords a handful of benefits. A group can be accidentally ungrouped pretty easily in a working session, while a compound path is a little more resilient.

We also save a few bits when exporting a compound path SVG vs multiple elements. As an example, the zoom icon as multiple elements:

[code]
vs as a compound path:
[code]

[2015-11-18 00:33] barlock commented on #20
I've never had a problem controlling the fill of these icons. If you just set a `fill` property it cascades down to the icon.

[2015-11-18 00:35] Moodycomputer commented on #20
If fill is set on the icon as an attribute, it can't be controlled via CSS though.

[2015-11-18 00:44] Moodycomputer commented on #20
For clarity, this use case is most prevalent when exporting from AI using the copy/paste method (copy icon from illustrator, paste in to text editor) where a lot of pruning is required either way. This may not be a common enough use case to be a major issue, but also isn't a large task. Small effort, small win?

[2015-11-18 00:47] barlock commented on #20
Gotcha! prs welcome of course! I would rather spend cyclces updating a "build" to get from the .ai files to svgs and pngs to handle that case generally rather than take the effort to maintain the .ai files which seems harder to me. Might just be my developer talking sense I'm fairly bad at illustrator

[2015-11-18 00:48] Moodycomputer commented on #18
I would vote 16px on the small ones- Reasoning being that if we are adding design considerations for each size (and we are in a few cases I think) then the consideration for 16px is more likely to hold at 24px than vice versa.

[2015-11-18 01:00] poofichu commented on #18
ALSO @hchughes I'm seeing that these new ones are different than the ones you an download from both the repo and the Design Language website.  See API:

Downloaded ones:
![image](https://cloud.githubusercontent.com/assets/6757613/11229647/682982a8-8d4c-11e5-8433-5933a939308f.png)

New ones:
![image](https://cloud.githubusercontent.com/assets/6757613/11229662/9dea0228-8d4c-11e5-9b8d-ddc6aa1bd810.pn

[2015-11-18 05:51] barlock commented on #18
I'm good with @terracomma's logic for 16px over 24. Also the ones without text is always better for a company in as many countries as we are in ^_^

[2015-11-18 05:52] #6 closed

[2015-11-18 23:56] mbarlock opened #23 "dist naming inconsistancies"
The microphone-recording icon only exists as a png.

[2015-11-19 04:08] hchughes commented on #18
@poofichu @terracomma @mbarlock Hi All - regarding the difference between glyphs and icons:

Glyphs
We offer glyphs at two sizes, 16 x 16 pixels and 24 x 24 pixels. Glyphs are designed with more solid balancing solid shapes and knocked-out details so they retain their recognition at smaller sizes. Their recommended size is 24 x 24 pixels minimum for touch interfaces. Glyphs that are not meant for

[2015-11-19 05:21] barlock commented on #18
@hchughes Good points! The problem that we have now is that there are roughly 870 icons and because of the fact that we're all human and much of maintaining this project involves manual steps, we miss things.

For example, the zoom-out icon is named differently for pngs and svgs (zoom-out vs zoomout) and the `microphone-recording` image only exists as a png. On top of that a lot of those icon name

[2015-11-19 05:43] hchughes commented on #18
Yeah, it sounds like I misread the question...Re: microphone:I have the svg so I can resolve that, and the naming can get resolved. Regarding the problems, @jhnsnc mentioned a script he created to help fix some of the issues with #3. I guess one thing I am concerned about from the user's perspective is how legible the symbols read if we only have one glyph size and one icon size. It ties to the co

[2015-11-19 06:00] barlock commented on #18
That would be great! I'll open up an issue so we can track the results of that.

Once we get this issue resolved, which @poofichu has gracefully offered to help with, the tedious aspects of maintainability (like naming and missing files) vanish sense there will be 15 manual tasks (which is still not great... but tolerable) instead of 850 and we can add some scripting to do easy transformations.

[2015-11-19 06:09] mbarlock opened #26 "Evaluate usefulness of various icon sizes"
Currently there are 5 different icon sizes for every single icon, 16px, 24px, 32px, 64px, and 128px. In #18 there started a conversation about the usefulness of every step along the way and finding a middle ground between having super legible icons and the general maintainability of the project.

[2015-11-19 06:12] barlock commented on #26
I think it would be interesting to know what sizes of icons various projects are using. In my current one, I'm using 24px and 32px only with no duplication of the named icon (ie both a 24px and a 32px of the same icon). There is also an illustration that uses the bigger icons for a hero image but I'm not sure which sizes were used sense I didn't compose it myself.

[2015-11-19 06:23] poofichu commented on #18
@hchughes gotcha with the two icons being different. Just wanted to make sure everything is solid and consistent when I build out the illustrator files.

I am 100% on board with testing! Keeping these files manageable and able to be a living document should be high priority along with user context and of course performance.

However I can help, let me know!

[2015-11-19 06:26] jhnsnc commented on #18
The point about different stroke widths and text size is honestly something that slipped my mind. I saw the API icon in Bluemix scaled really small and it kind of irked me. I should have thought about that then.

Also, regarding the naming differences, I did make a complete list of all the discrepancies. Let me know where and I can post it to save you some time.

[2015-11-19 06:36] barlock commented on #18
@jhnsnc Please post them here (#23) and I'll rename the issue to be something a little more obvious. I'm hoping they all go away after we get this issue done and then ACTUALLY build the [dist folder](https://github.com/IBM-Design/icons/tree/develop/dist)...

[2015-11-19 14:38] jhnsnc commented on #23
Here are the discrepancies in file names between the PNG and SVG folders.

| type/folder | PNG name | SVG name | suggested change | use |
| --- | --- | --- | --- | --- |
| action-based | go-forward | forward | go-forward | PNG |
| action-based | revert | reset | reset | SVG |
| action-based | zoomout | zoom-out | zoom-out | SVG |
| formatting | bullet-list_32 | bulleted-list_32 | bulleted-list_32

[2015-11-19 14:39] poofichu commented on #18
Also this:
http://sarasoueidan.com/blog/svg-tips-for-designers/

#8 goes into export options and it has some good pointers on when we create future svg files.

[2015-11-19 14:40] jhnsnc commented on #23
Here are some file names that just strike me as odd. I'm not sure about how to change some of them, but I figured I should point them out. These changes aren't required at all, because the names are consistent between SVG/PNG folders.

| type/folder | name | suggested change |
| --- | --- | --- |
| action-based | add-new | add |
| action-based | down-to-bottom | scroll-to-bottom (?) |
| action-bas

[2015-11-19 16:04] slapjack7 commented on #23
@hchughes should weigh in on this...the naming has impact on the way the files show on the site, if i'm not mistaken.

[2015-11-19 18:30] barlock commented on #23
@slapjack7 all of the file naming conventions will come from the illustrator art boards which @hchughes had a say in. There were problems doing manual exports of all 877 icons (if you can possibly imagine) and they should be fixed and contestant in the 2.0.0 release. I'm working hard to balance getting that release out with the rest of my day job. If you would like to help. I welcome prs! https://

[2015-11-19 18:33] hchughes commented on #23
Hi @mbarlock - the names that are on the site itself are the names of the icons, full stop. The names of the most recent glyphs should match 1-to-1 with the corresponding icons they relate to. http://www.ibm.com/design/language/resources/icon-library

[2015-11-19 18:36] hchughes commented on #23
@jhnsnc If these are recommended changes to the names of 9 or so of them, I'm happy to look them over today and get back to you all on those.

[2015-11-19 18:37] barlock commented on #23
Gotcha, thats easily not true right now :stuck_out_tongue:. All of the names will be coming from the names of the individual art boards that @poofichu is making ( :heart: ). Before I push `2.0.0` we should make sure that all those are in sync

[2015-11-19 18:38] barlock commented on #23
@hchughes from #18 we're changing the way the .ai files are structured so that it doesn't take 3 years to export all the icons. Once we have those updates that is the place we need to evaluate the names

[2015-11-19 18:46] jhnsnc commented on #23
Great. And to be clear, the "recommended" column is my personal opinion. I did not reference the IBM Design Language site.

[2015-11-19 19:00] barlock commented on #18
It seems that we can export illustrator files from the command line! (or at least with an apple script, which is good enough for me for now) So for maintainability I think it would make the most sense to put every icon in its own illustrator files. That way you can see every size of an icon and adding a new icon is as easy as dropping it into the source tree. So I think it should look like this

[

[2015-11-20 02:34] poofichu commented on #18
@hchughes just checking on a few things - there are some missing new glyphs, like all the file types and no hat glyph.  Is this intentional or are they on their way?

Missing/Need to Be Designated from Object Based Category:
- activity
- audio-file
- compressed-file
- hat
- image-file
- industry
- inventory
- list-view
- password-key
- pdf-file
- person
- presentation-file
- recommendation
- role

[2015-11-20 15:45] cjolif opened #27 "bower.json is missing version number (1.0.1)"

[2015-11-20 15:47] cjolif commented on #27
And now I just read: https://github.com/bower/spec/blob/master/json.md#version

sorry ;)

[2015-11-20 15:47] #27 closed

[2015-11-20 21:24] poofichu commented on #18
Missing Action Based Glyphs:
- configure
- download
- filter
- get-information
- run
- trash
- warn

[2015-11-22 21:50] barlock commented on #18
I would assume their on their way. Its probably worth opening a new issue with these missing glyphs after we get the new artboards merged

[2015-11-23 21:05] poofichu opened #28 "Missing Glyphs"
##Object Based
[ ] activity
[ ] audio-file
[ ] compressed-file
[ ] hat
[ ] image-file
[ ] industry
[ ] inventory
[ ] list-view
[ ] password-key
[ ] pdf-file
[ ] person
[ ] presentation-file
[ ] recommendation
[ ] role
[ ] satellite-dish
[ ] tile-view
[ ] video-file
[ ] watch

## Action Based
[ ] configure
[ ] download
[ ] filter
[ ] get-information
[ ] run
[ ] trash
[ ] warn

[2015-11-23 21:07] poofichu commented on #28
@hchughes feel free to email me these if you have them

[2015-11-23 21:08] poofichu commented on #18
Moving missing glyphs to new issue #28

[2015-11-30 19:35] barlock commented on #18
Fixed by #31

[2015-11-30 19:35] #18 closed

[2015-12-01 22:03] #16 closed

[2015-12-01 22:03] #14 closed

[2015-12-01 22:04] barlock commented on #13
Fixed by #31

[2015-12-01 22:04] #13 closed

[2015-12-01 22:04] barlock commented on #8
Fixed by #31

[2015-12-01 22:04] #8 closed

[2015-12-01 22:05] #1 closed

[2015-12-02 03:00] mbarlock opened #38 "Script to combine artboards into a single file"
By separating all of the icons into separate files, designers have lost the ability to see the context for all of the icons. We need an export script that will combine all of the individual files into a single art board.

[2015-12-02 03:01] barlock commented on #38
@hchughes would three combination files be better (one per category) or just one with all of them?

[2015-12-07 20:18] kevinSuttle commented on #23
Should be easy to automate, generate, and validate.

[2015-12-07 20:21] kevinSuttle opened #39 "Named ES2015 export properties for À la carte consumption"
We should expose the icons as named exports so the import UX can match up to this:

[code]

[2015-12-07 20:24] joshblack commented on #39
When you leverage `import`, what format are you expecting them to match?

[2015-12-07 20:29] kevinSuttle commented on #39
A custom Icon Class, maybe?

[2015-12-07 20:38] joshblack commented on #39
Also syntax should be `import { debug, api, tileView } from 'ibm-design-icons';`

And if it's coupled to CSS, should leverage:

[code]

Or something similar in order to allow bundlers to hook in and load the css file.

[2015-12-07 20:41] barlock commented on #39
@kevinSuttle I have a script that converts the SVGs into JSX that I use for my app. I could add it to this project but this doesn't feel like the place for that

[2015-12-07 20:41] barlock commented on #39
That feels more like a webpack loader to me

[2015-12-07 20:42] barlock commented on #23
Already done! I missed closing this. All the icons align with what is in the [icon library](http://www.ibm.com/design/language/resources/icon-library)

[2015-12-07 20:42] barlock commented on #23
Fixed by #33

[2015-12-07 20:42] #23 closed

[2015-12-07 20:43] barlock commented on #28
@hchughes Do we have plans to get these icons?

[2015-12-07 20:44] barlock commented on #3
Fixed by #34

[2015-12-07 20:44] #3 closed

[2015-12-07 21:22] kevinSuttle commented on #23
:shipit:

[2015-12-07 21:24] kevinSuttle commented on #39
@mbarlock for that, yeah, I agree.

@joshblack could there be a higher-level class that uses the imports you listed as an encompassing, importable parent object?

[2015-12-07 21:46] joshblack commented on #39
@kevinSuttle not really, CSS needs to be handled by an appropriate loader which hooks into `require` calls in webpack's case, although I'm curious how it would be handled if you could point to a css file from `main` in your package.json.

If you have CSS Modules then you can totally do this api, but that requires a dependency on webpack.

[2015-12-08 20:31] thundernixon commented on #12
SVGs can solve this problem to a large degree, but when it comes down to it, curves and diagonal lines are still subject to the limitations of pixel rendering – whereas straight lines can exactly use whole pixels, curves require zig zags and subpixel rendering. So, even GitHub's Octicons have straight edges which are crisper than the curved lines (check out the notifications bell at the top of the

[2015-12-08 20:37] barlock commented on #12
Totally, but I think we can be doing better. If an svg icon is made well it should look crisp when resized, all of the circles in the [icon library](https://www.ibm.com/design/language/resources/icon-library) don't. I'm not sure what the right solution to the problem is. It's possible that that page is using an icon designed to be much smaller and blown up to be bigger but I doubt it. I'll check a

[2015-12-15 03:52] kevinSuttle commented on #20
Tangent: We probably should just have SVG files. Do we really need AI files?

[2015-12-15 03:55] kevinSuttle commented on #39
No longer relevant with https://github.com/kevinSuttle/style-graph/

[2015-12-15 03:55] #39 closed

[2015-12-22 18:00] kevinSuttle opened #40 "CC license on this page doesn't match the license file in the repo"
http://www.ibm.com/design/language/resources/icon-library (3.0)

https://github.com/IBM-Design/icons/blob/master/LICENSE.md (4.0)

[2015-12-30 16:59] kevinSuttle opened #41 "Computer"
Laptop most likely.

[2015-12-30 17:00] kevinSuttle opened #42 "Colorpicker"
Some UIs are customizable in terms of theme. This would help.

[2016-01-28 17:23] tessarodes opened #44 "Request: In Progress icon"
We need an icon indicating a test is "in progress." It should be a static icon as opposed to a loading spinner. The IDL icons for "reset" and "insert," etc. also don't work, as we use the "reset" icon on the same page for its correct meaning.

Here's what I had in mind:
![image](https://cloud.githubusercontent.com/assets/10426703/12652645/5d6e97c0-c5b1-11e5-8a64-9b7a653ee26c.png)

Thanks!

[2016-01-28 18:18] barlock commented on #44
@hchughes cc

[2016-03-16 14:37] kevinSuttle opened #45 "Notifications"
I've seen this done as a bell, as it is here on GitHub. Seems to work well. Has a dot on it when there is new activity, but I'd prefer a number. Either way.

[2016-03-16 14:38] kevinSuttle commented on #45
I know there's Announcement, but that's not quite it. I could be convinced though. https://www.ibm.com/design/language/resources/icon-library/downloads/ibm-design-icons-announcement.zip

[2016-03-16 18:51] brianburnette commented on #45
We're testing a banner notification in our product now that works like....
![bannernotifications](https://cloud.githubusercontent.com/assets/13439551/13824948/90175e96-eb86-11e5-9409-c5ab7dd33a15.PNG)

[2016-03-16 18:54] barlock commented on #45
@brianburnette could you make a pr with the illustrator files for the belll?

[2016-03-31 13:49] mbarlock opened #47 "Automatically compress pngs on export"
Pngs include a lot of metadata that we don't need to ship. When generating the dist we should strip that content.

[2016-04-28 21:13] mbarlock opened #48 "Add aria tags to generated svgs"
SVGS could use an `aria-labeled-by="title"` with a title for better accessibility on screen readers.

[2016-05-10 23:52] kevinSuttle commented on #20
@terracomma At least having the option to strip them out at build time would be good. I end up having to go back and do it manually.

[2016-06-21 15:19] kevinSuttle opened #49 "Icon set generator"
e.g. https://poly-icon.appspot.com/

[2016-06-27 17:21] kevinSuttle commented on #20
FYI: I have a Sketch branch that uses extended svgo options to remove fills.
https://github.com/IBM-Design/icons/tree/sketch

[2016-06-28 02:07] barlock commented on #20
I'm confused, I took a random look at the svgs in the dist and they don't have fills. @kevinsuttle what is in that branch? Should it be merged into the build script?

[2016-06-28 02:10] barlock commented on #20
It looks like a lot of the changes in there would be good for master, can you make a pr? I haven't researched all of the options you turned on

[2016-06-28 13:55] kevinSuttle commented on #20
@mbarlock I'm still figuring it out. And @Moodycomputer I actually think that it's more flexible to set the fill to `currentColor` and inherit the `color`. https://github.com/svg/svgo/issues/561

[2016-07-01 19:12] kevinSuttle commented on #20
Here we go! https://github.com/svg/svgo/pull/521

[2016-07-02 20:58] barlock commented on #20
Awesome! I have that set by default in my style sheet. I do wonder if that is what we should be exporting by default though. What are other icon sets doing?

[2016-07-03 00:24] kevinSuttle commented on #20
Who cares? Let's do the awesome thing. :)

[2016-07-27 22:06] mbarlock opened #53 "2.0.2 Deleted some Icons and un-minified a bunch of svgs"

[2016-07-27 22:37] #53 closed

[2016-08-05 14:36] kevinSuttle opened #57 "Request: Locate me icon"
Request: a "locate me" button, to trigger something like this manually:

![image](https://cloud.githubusercontent.com/assets/95672/17439952/62ef05ae-5af8-11e6-9d42-fe1165eb43a6.png)

Several options for glyphs:
- https://www.ibm.com/design/language/resources/icon-library/ (search for compass)

- Location arrow, map drop marker, labeled button:
http://ux.stackexchange.com/questions/48677/pattern-fo

[2016-08-15 17:40] thundernixon opened #58 "Calendar icon could be more consistent between sizes and more consistent with other icons"
I've noticed that the IBM Design Language icon for "calender" has a few issues:

1. The calendar icons are very different shapes between the three main sizes (changes from 16px to 24px, and then again at 32px).

2. The "2" used at larger sizes doesn't make much sense during most days of the month, as would a day-by-day calendar.

![image](https://cloud.githubusercontent.com/assets/7355414/17672760

[2016-10-05 15:15] kevinSuttle opened #59 "Android and iOS app icons templates"
Wondering if we have these somewhere and just aren't linking them.
https://www.ibm.com/design/language/resources/

[2016-11-09 01:32] seejamescode commented on #59
Are you seeking a certain file type of the existing icons?
Or a starter template when making an IBM native app icon?

[2016-11-09 01:44] seejamescode commented on #58
Hey @thundernixon, apologies for the late reply! I am just now helping out the IBM Design Language.

We would absolutely love for you to suggest a new version of the calendar icon! Anything that makes the icons clearer while following IDL's [Iconography Page](http://www.ibm.com/design/language/framework/visual/iconography/) is up for change.

Does this interest you? You can either leave your take

[2016-11-09 01:46] seejamescode commented on #57
Are you requesting that someone from the IBM Design Language Team suggest which icon is most appropriate?

[2016-11-09 01:51] seejamescode commented on #49
What are the pros you enjoy most from this?

I like that it only imports the icons the developer needs to use. I could see this as a different repo that uses this one as a dependency if it was specifically going to utilize polymer.

[2016-11-09 02:04] seejamescode commented on #48
Yeah, I just read this article about [accessible SVGs](https://css-tricks.com/accessible-svgs/#article-header-id-6). It seems like our responsibility in this code is to add `<title></title>` inside of built SVGs.

It also sounds like we should recommend the use of `aria-label` and `aria-hidden` for their appropriate purposes in the Readme. Agreed?

[2016-11-09 02:06] seejamescode commented on #47
I will take a look into integrating [gulp-imagemin](https://github.com/sindresorhus/gulp-imagemin).

[2016-11-09 02:07] #45 closed

[2016-11-09 02:14] seejamescode commented on #42
I believe the Edit Icon with a proper label would be best for this since this library is monochrome.

[2016-11-09 02:21] seejamescode commented on #40
Looks like this is resolved on Icon Library downloads now.

[2016-11-09 02:21] #40 closed

[2016-11-09 02:38] seejamescode commented on #21
@Moodycomputer Can the compound path be done at our automated Illustrator build stage or does it need to be done by an individual in Illustrator?

[2016-11-09 02:40] seejamescode commented on #20
Looks like this was resolved! Correct me if I am wrong.

[2016-11-09 02:40] #20 closed

[2016-11-09 02:42] seejamescode commented on #12
Let me know what your view is on this issue is now please!

[2016-11-09 05:02] kevinSuttle commented on #42
No, this was a request for a colorpicker _glyph_.

[2016-11-09 05:04] kevinSuttle commented on #57
Yes, or offering variants.

[2016-11-09 05:04] kevinSuttle commented on #59
The latter

[2016-11-09 18:56] seejamescode commented on #59
I do not believe this is within the scope of this repo, but a great idea!

[2016-11-09 18:56] #59 closed

[2016-11-17 15:58] briandrum opened #60 "Bee 16’s wings are asymmetrical"
While performing some optimizations with SVGO, I noticed that little bee's wings are not symmetrical. I believe the right wing is correct.

![bee_16](https://cloud.githubusercontent.com/assets/114522/20396573/a334933c-acb4-11e6-883f-c5e73c21e0ea.png)

[2016-11-17 16:27] seejamescode commented on #60
Thanks for catching it! Would you be able to submit this file fixed? https://github.com/IBM-Design/icons/blob/master/src/object-based/bee.ai

[2016-11-17 23:56] #60 closed

[2016-12-14 22:03] joshblack opened #62 "`npm` Package fails to install for Node versions 6 and up"
When installing the `npm` module, using `yarn` or the `npm` client, the package fails to install if the Node.js version you're using is >5.

For example:

[code]

As a result, the module isn't installed in `node_modules` and is unable to be used.

[2016-12-15 00:32] #62 closed

[2017-01-19 14:29] owendall opened #64 "Link on main page is broken..."

[2017-01-19 14:30] owendall commented on #64
![image](https://cloud.githubusercontent.com/assets/10927/22110499/e990ccf0-de29-11e6-8a3d-7bce8fdc9679.png)

[2017-01-19 15:31] matthewgallo commented on #64
Hi @owendall, thanks for posting here about it. I haven't been able to replicate the 404. Are you still experience this issue at all?

[2017-01-24 19:37] hchughes opened #65 "Submission of Security trash glyphs to the IDL repo"
Hi James and Matt! Can we merge these to our library? Thanks, Hayley

[2017-01-27 13:29] barlock commented on #65
@hchughes Can you add the AI files here? Or make the pr?

[2017-02-06 22:58] barlock commented on #38
@seejamescode why did you close this? This is the most requested feature I get for this repository

[2017-02-06 23:04] seejamescode commented on #38
We had a an open issues purge and was told this was already taken care of.

[2017-02-06 23:05] barlock commented on #38
Gotcha, sadly tis not

[2017-03-13 21:49] lehelbabos opened #66 "Submitting glyphs for get-information icon"
I've created 16px/24px glyphs for the info icon. Submitting for review.

Saved icon file out as a PDF since github won't let me upload SVGs / AIs.

Happy to answer any questions or make any revisions.

[get-information icon.pdf](https://github.com/IBM-Design/icons/files/839704/get-information.icon.pdf)

[2017-03-14 08:46] samjsmith opened #67 "Missing SVGs for download icon"
I can't see files for download_16.svg or download_24.svg.
Are they supposed to be created?

[2017-03-14 12:58] barlock commented on #66
Could you zip the .ai and send that?

[2017-03-14 13:00] barlock commented on #67
@samjsmith Actually no! There are not glyphs for all of the icons. `download` in particular only has 32, 64, and 128. You can tell for any icon by going into the source and looking at the artboards

![image](https://cloud.githubusercontent.com/assets/5770007/23901671/ab4e4f86-0894-11e7-9eb3-02207f349ff7.png)

If you can fill in the missing glyphs a pull request would be appreciated.

[2017-03-14 14:04] lehelbabos commented on #66
Attached
[get-information.ai.zip](https://github.com/IBM-Design/icons/files/841529/get-information.ai.zip)

[2017-03-15 13:25] barlock commented on #66
**CC: @hchughes @seejamescode**

[2017-03-19 17:00] seejamescode commented on #67
Thanks @mbarlock!

[2017-03-19 17:00] #67 closed

[2017-03-19 17:01] seejamescode commented on #66
@evanmaeda, was there a reason we left out glyphs for this? If not, any visual feedback?

[2017-03-30 14:53] seejamescode commented on #64
Closing until further clarification

[2017-03-30 14:53] #64 closed

[2017-03-30 14:54] seejamescode commented on #65
@matthewgallo @hchughes Where are the files for this?

[2017-03-30 14:58] seejamescode commented on #66
Emailed @hchughes with the zip for review now

[2017-04-21 17:08] raquelbreternitz opened #68 "Submitting glpyh icon for opening something in a new window"
Designed in the Watson style (i.e., thin lines, curved edges).

I could also make a version that is more traditionally IDL style (sharp edges, thicker lines) and non-glyph versions if there's interest.

Thought I'd just go ahead and sub
[new_window.svg.zip](https://github.com/IBM-Design/icons/files/947772/new_window.svg.zip)
mit. :)

[2017-05-03 19:31] lehelbabos commented on #66
Any progress on this? @seejamescode @hchughes

[2017-05-04 03:20] hchughes11 commented on #66
These submissions can be merged into the icon repo. They are approved for use.

[2017-05-04 19:18] #66 closed

[2017-05-04 19:20] seejamescode commented on #68
If you make it IDL style, I will get it published!

[2017-05-05 17:48] matthewgallo opened #70 "Requesting addition of notification (bell) icon."
Note: This have been approved by @hchughes already.

[2017-05-05 17:50] matthewgallo commented on #70
[notifications-icon (1).zip](https://github.com/IBM-Design/icons/files/979883/notifications-icon.1.zip)

[2017-05-08 14:46] seejamescode commented on #70
@hchughes Do you have the illustrator file for those pngs and svgs in that zip folder? That is all we are missing to add it!

[2017-05-09 16:26] scottnath opened #71 "designer: sketch files from canonical svgs"
A designer's typical workflow in Sketch is to have a Sketch asset-file which contains assets, such as icons, open while they work on their prototype. They will then copy the assets from the asset-file and paste them into their prototype.

[code]

---

**Cross-tool icons**
- [ ] svgs as canonical
- [ ] copy svgs when prototyping

[2017-05-10 18:41] scottnath commented on #71
@seejamescode @hchughes

## update: not currently possible

### **tl;dr:**

* there is no non-trivial way to write a sketch file
* sketch has not released docs on its JSON structure
* minor differences in two sketch files create massive differences in JSON data
* Closest approximation for copy-n-paste request: an icon-font could be auto-generated from svgs and used in designs, but this is not reco

[2017-05-23 18:24] rodrigre opened #72 "icon label for "insecure" icon vs "unsecure""
small label tweak...
change label for icon in 'object' set, current label "insecure" change to "unsecure"

[2017-06-15 13:31] justingodard opened #73 "Save_16.svg inner circle does not inherit fill colour"
When applying a fill to the `save_16.svg` icon, the inner circle does not inherit the desired colour.

[2017-06-15 13:32] justingodard-zz commented on #73
I modified this one: [save_16.svg.zip](https://github.com/IBM-Design/icons/files/1077765/save_16.svg.zip)

[2017-06-15 14:30] #73 closed

[2017-08-21 20:32] lehelbabos opened #74 "[Submission] Sort"
Noticed that we don't have a dedicated icon for sorting. We've had a 16px variant that we've used on our team for a while. Used the icon builder template to build out the rest of the sizes. Figured this is something other products could benefit from as well.

[2017-08-21 20:33] lehelbabos commented on #74
Zip of AI File
[sort.ai.zip](https://github.com/IBM-Design/icons/files/1240075/sort.ai.zip)

[2019-01-25 14:44] HendrikStrobelt opened #76 "interact icon"
Quite often when explaining interactions in a concept figure an indicator for where humans can intervene is super helpful. Something similar like the 'hand' icon (appearing when hovering a link on Mac) would be a useful add-on to the icon library.
![image](https://user-images.githubusercontent.com/950990/51752452-8c69e480-2085-11e9-9ac9-41517dd973be.png)
![image](https://user-images.githubusercont